#conteiner{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    justify-content: center;
    gap: 20px;
    padding: 20px;
    overflow: hidden;
    position: relative;
}
.listado_con{
    background-color: rgb(255, 255, 255);
    width: 69%; 
    height: 100%;
    border-radius: 3px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.listado_contenido_egin{
    overflow: auto;
    width: 100%;
    height: 100%;
}

.listado_contenido_egin table{
    width: 100%;
    /* background-color: blue; */
    margin-top: 15px;
    border-radius: 3px;
    text-align: center;
}
.listado_contenido_egin table th{
    background-color: green;
    padding: 8px;
    border-radius: 2px;
    color: white;
    font-family: 'Gruppo', sans-serif;
}
.listado_contenido_egin table td{
    background-color: white;
    padding: 8px;
    border-bottom: 1px solid green;
} 



.mantenimiento{
    background-color: rgb(255, 255, 255);
    width: 29%;
    height:100%;
    border-radius: 3px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.mantenimiento input{
    border: none;
    outline: none;  
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.507);
    border-radius: 3px;
    padding: 12px;
    width: 100%;
}

/* estilos para boton de opciones */
#op{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}
#bverdc{
    background-color: rgba(40, 82, 248, 0.432);
    padding: 10px;
    border-radius: 3px;
}
#bverdc:hover{
    background-color: rgb(40, 82, 248);
    cursor: pointer;
}

.caja2t{
    display: none;
}
.field_caja{
    height: 95%;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.field_caja legend{
    padding: 0px 5px;
}
.cajas_ie div{
    width: 100%;
    display: flex;
    gap: 10px;
}
.contic{
    border-bottom: 1px solid rgba(0, 0, 0, 0.57);
    padding: 10px 0px;
    display: flex;
}

/* estilos para modal caja */
.fondo_mc{
    position: absolute;
    top: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.57);
    width: 100%;
    height: 100%;
    display: none;
}
.modal_caja{
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: auto;
    border-radius: 5px;
    position: absolute;
    top: 15%;
    left: 25%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: -100%;
    transition: 1.5s;
}
.modal_caja table{
    padding: 10px 0px;
    width: 100%;
    text-align: center;
}
.modal_caja table th{
    background-color: green;
    color: white;
    padding: 5px;
}
.modal_caja table td{
    border-bottom: 1px solid rgba(0, 0, 0, 0.704);
    padding: 5px;
}
.ccm{
    background-color: rgba(165, 42, 42, 0.555);
    width: 3%;
    text-align: center;
    border-radius: 0px 3px 0px 0px;
}
.ccm:hover{
    background-color: brown;
    cursor: pointer;
}

.titcm{
    width: 97%;
    font-size: 15px;
    /* background-color: blue; */
}