@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
body{
    font-family: 'Poppins', sans-serif;
}
.conteiner{
    width: 100%;
    display: flex;
}
.datos_ventas   {
    background-color: rgb(251, 250, 250);
    margin: 10px;
    width: 20%;
    border-radius: 4px;
    padding: 20px;
    height: 88vh;
}
.datos_det_ven{
    background-color: rgb(251, 250, 250);
    margin: 10px;
    width: 80%;
    border-radius: 4px;
    padding: 20px;
    height: 88vh;
}
.cajas_ven{
    background:#EAEBEF;
    width: 100%;
    padding: 10px 10px 10px 10px;
    margin: 15px 0px 10px 0px;
    border: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
#ttipo_pago{
    background:#EAEBEF;
    width: 100%;
    padding: 10px 10px 10px 10px;
    margin: 15px 0px 10px 0px;
    border: 0;
    text-align: center;
}
#tdeudores{
    background:#EAEBEF;
    width: 85%;
    padding: 10px 40px 10px 40px;
    margin: 15px 0px 10px 0px;
    border: 0;
    text-align: center;
}
.reg_deudores{
    width:30px;
    cursor: pointer;
    margin-left: 6px;
    margin-bottom: -10px;
}
.botones{
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
}

.btn{
    padding: 8px 15px 8px 15px;
    width: 150px;
    border: 0px;
    cursor: pointer;
    margin: 1px;
}
.btn-guardar{
    background-color: rgb(1, 163, 1);
    color: white;
    display: none;
}
.btn-cancelar{
    background-color: rgb(217, 6, 6);
    color: white;
    display: none;
}
.btn-nueva{
    background-color: rgb(13, 189, 189);
    color: black;
}
.filtro{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 10px;
    margin-left: -0px;
    border: 1px solid rgba(0, 128, 0, 0.475);
    flex-direction: column;
}   
.bus{
    margin: 10px 10px 10px 10px;
    padding: 5px 10px 5px 10px;
    width: 30%;
    text-align: center;
}
#listado{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 10px;
    margin-left: -0px;
    border: 1px solid rgba(0, 128, 0, 0.475);
    flex-direction: column;
    padding: 10px 10px 10px 10px;
    display: none;
}
#listado_temporal{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 10px;
    margin-left: -0px;
    border: 1px solid rgba(0, 128, 0, 0.475);
    flex-direction: column;
    padding: 10px 10px 10px 10px;
}
table{
    width: 100%;
    font-family: 'Gruppo', sans-serif;
    text-align: center;
}
th{
  background-color: green;
  padding: 8px;
  border-radius: 2px;
  color: white;
  font-family: 'Gruppo', sans-serif;
}
td{
  background-color: white;
  padding: 8px;
  border-bottom: 1px solid green;
}   
.oculto{
    display: none;
}
.bloquear{
    pointer-events: none;
}