#conteiner{
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    justify-content: center;
    gap: 20px;
    padding: 20px;
    overflow: hidden;
}
.listado{
    background-color: rgb(255, 255, 255);
    width: 69%; 
    height: 100%;
    border-radius: 3px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
}
.encabezado{
    width: 100%;
    height: 15%;
    display: flex;
    gap: 10px;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.552);
    margin-top: 15px;
    padding: 10px;
    border-radius: 3px;
}
.encabezado div{
    width: 20%;

}
.encabezado input{
    border: 1px solid rgba(0, 0, 0, 0.479);
    outline: none;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    padding: 8px;
    width: 100%;

}
#listado_contenido table{
    width: 100%;
    /* height: 80%; */
    margin-top: 15px;
    border-radius: 3px;
    /* background-color: aqua; */
}
#listado_contenido table th{
    background-color: green;
    padding: 8px;
    border-radius: 2px;
    color: white;
    font-family: 'Gruppo', sans-serif;
}
#listado_contenido table td{
    background-color: white;
    padding: 8px;
    border-bottom: 1px solid green;
  } 
#listado_contenido{
    overflow: auto;
    width: 100%;
    height: 75%;
    /* max-height: 65%; */
}
.filtros_per{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 10px;
    border-radius: 3px; 
    border: 1px solid rgba(0, 0, 0, 0.552);
}
.filtros_per input{
    border: none;
    outline: none;
    background-color: aliceblue;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.507);
    border-radius: 3px;
    padding: 10px;
    width: 100%;
}


.mantenimiento{
    background-color: rgb(255, 255, 255);
    width: 29%;
    height: 100%;
    border-radius: 3px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.mantenimiento input[type="text"],select{
    border: none;
    outline: none;
    /* background-color: white; */
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.507);
    border-radius: 3px;
    padding: 12px;
    width: 100%;
}
.botones{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 20px;
}

.botones input[type="button"]{
    width: 50%;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
}
#bnuevo_ca{
    background-color: rgba(0, 255, 255, 0.648);
    /* display: none; */
}
#bnuevo_ca:hover{
    background-color: aqua;
    /* display: none; */
}
#bguardar_ca{
    background-color: rgba(79, 208, 56, 0.727);
    display: none;
}
#bguardar_ca:hover{
    background-color: rgb(79, 208, 56);
    display: none;
}
#bmodificar_ca{
    background-color: rgba(209, 209, 50, 0.695);
    display: none;
}
#bmodificar_ca:hover{
    background-color: rgba(209, 209, 50, 0.99);
    display: none;
}
#bcancelar_ca{
    background-color: rgba(255, 0, 0, 0.695);
    display: none;
}
#bcancelar_ca{
    background-color: rgb(255, 0, 0);
    display: none;
}

/* estilos para boton de opciones */
#op{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
}
#bcatu{
    background-color: rgba(248, 248, 40, 0.432);
    padding: 10px;
    border-radius: 3px;
}
#bcatu:hover{
    background-color: rgb(248, 248, 40);
    cursor: pointer;
}

.caja2t{
    display: none;
}
